
.App{
  display:flex;
  align-items: center;
  justify-content: center;
  
  padding: 6%;
}
.comment{
  position:absolute;
  top: 70%;
  left: 80%;
  background: #606060;
  border-radius: 3px;
  color: white;
  padding:0.5% 1%;
  font-size: 11px;
display: none;

}

#img_div{
  position: relative;
}
#profile p{
display:flex;
align-items: center;
width: 90%;
padding:5px 10px;
position: relative;
}
#profile p:hover > .comment,#img_div:hover > .comment{
  display:flex
}
#profile p:hover,#iimg :hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
span{
  font-size: 13px; 
  display: flex;
  height: 100%;
  width: 140px;
  overflow-y: auto;
  
}
#bio{
  align-items: flex-start;
}
*::-webkit-scrollbar {
  width: 15px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #d6d6d6;
}

*::-webkit-scrollbar-thumb {
  background-color: #9e9d9d;
  border-radius: 20px;
  
}
#profile{
  background: #fff;
  border-radius: 2px;
  padding: 5%;
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  
}
#profile:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 cursor:pointer
}
#info{
  display: flex;
  flex-direction: column;
}
.tag{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: large;
  color:indigo;
  margin-right: 2%;
  height: 100%;

  align-items: center;
}
.tag:hover{
  color: rgb(130, 34, 219);
  
}
button{
  position: absolute;
  bottom: 2%;
  right: 2%;
  background: rgb(80, 113, 231);
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 1% 2%;
}
button:hover{
  background: rgb(43, 85, 235);
  cursor:pointer
}
